<ng-container>
  <div class="main">
    <span *ngFor="let teamDetail of teamDetail.TeamDetails">
      <span *ngFor="let details of teamDetail.Details">
        <mat-card>
          <mat-card-title>
            <div class="title">
              <img class="logo" src="http://stats.nba.com/media/img/teams/logos/season/2017-18/{{ details.Abbreviation }}_logo.svg" 
                alt="{{ details.City }} {{ details.Nickname }}"
                title="{{ details.City }} {{ details.Nickname }}">
              <h1 class="title">{{ details.City }} {{ details.Nickname }}</h1>
            </div>
          </mat-card-title>
          <mat-card-content>
            <h2>Players</h2>
            <div class="container">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>N°</th>
                    <th>Pos</th>
                    <th>HeightMeters</th>
                    <th>WeightPounds</th>
                    <th>Poids</th>
                    <th>Birth</th>
                    <th>NbaStart</th>
                    <th>Exeprience</th>
                    <th>College</th>
                  </tr>
                </thead>
                <tbody *ngFor="let teamRoster of teamRoster.league.standard">
                  <tr *ngIf="teamRoster.teamId == details.Team_Id" onclick="goToPlayerProfile(teamRoster.personId)">
                    <td>
                      <a href="player/{{ teamRoster.teamId }}/{{ teamRoster.personId }}">
                        <div class="playerLink">
                          {{ teamRoster.firstName }} {{ teamRoster.lastName }}
                        </div>
                      </a>
                    </td>
                    <td>{{ teamRoster.jersey }}</td>
                    <td>{{ teamRoster.pos }}</td>
                    <td>{{ teamRoster.heightMeters }}</td>
                    <td>{{ teamRoster.weightPounds }}</td>
                    <td>{{ teamRoster.weightKilograms }}</td>
                    <td>{{ teamRoster.dateOfBirthUTC }}</td>
                    <td>{{ teamRoster.nbaDebutYear }}</td>
                    <td>{{ teamRoster.yearsPro }}</td>
                    <td>{{ teamRoster.lastAffiliation }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="background">
              <h3>Background</h3>
              <div class="detail">
                <strong>Founded:</strong> {{ details.YearFounded }}</div>
              <div class="detail">
                <strong>City:</strong> {{ details.City }}</div>
              <div class="detail">
                <strong>Arena:</strong> {{ details.Arena }}</div>
              <div class="detail">
                <strong>Capacity:</strong> {{ details.ArenaCapacity }}</div>
              <div class="detail">
                <strong>Owner:</strong> {{ details.Owner }}</div>
              <div class="detail">
                <strong>Manager:</strong> {{ details.GeneralManager }}</div>
              <div class="detail">
                <strong>HeadCoach:</strong> {{ details.HeadCoach }}</div>
            </div>
          </mat-card-content>
        </mat-card>
      </span>
    </span>
  </div>
</ng-container>