<ng-container *ngIf="teamDetails && teamRostersPlayers">
  <div class="main">
    <mat-card>
      <mat-card-title>
        <div class="title">
          <img class="logo" src="http://stats.nba.com/media/img/teams/logos/season/2017-18/{{ teamDetails.Abbreviation }}_logo.svg" alt="{{ teamDetails.City }} {{ teamDetails.Nickname }}"
            title="{{ teamDetails.City }} {{ teamDetails.Nickname }}">
          <h1 class="title">
            {{ teamDetails.City }} {{ teamDetails.Nickname }}
          </h1>
          <div class="background">
            <h3>Background</h3>
            <div class="detail">
              <strong>Founded:</strong>
              {{ teamDetails.YearFounded }}
            </div>
            <div class="detail">
              <strong>City:</strong>
              {{ teamDetails.City }}
            </div>
            <div class="detail">
              <strong>Arena:</strong>
              {{ teamDetails.Arena }}
            </div>
            <div class="detail">
              <strong>Capacity:</strong>
              {{ teamDetails.ArenaCapacity }}
            </div>
            <div class="detail">
              <strong>Owner:</strong>
              {{ teamDetails.Owner }}
            </div>
            <div class="detail">
              <strong>Manager:</strong>
              {{ teamDetails.GeneralManager }}
            </div>
            <div class="detail">
              <strong>HeadCoach:</strong>
              {{ teamDetails.HeadCoach }}
            </div>
          </div>
        </div>
      </mat-card-title>
      <mat-card-content>
        <h2>Players</h2>
        <div>
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>N°</th>
                <th>Pos</th>
                <th>HeightMeters</th>
                <th>WeightPounds</th>
                <th>Poids</th>
                <th>Birth</th>
                <th>NbaStart</th>
                <th>Exeprience</th>
                <th>College</th>
              </tr>
            </thead>
            <tbody *ngFor="let teamRosterPlayer of teamRostersPlayers">
              <tr onclick="goToPlayerProfile(teamRoster.personId)">
                <td>
                  <a href="player/{{ teamRosterPlayer.teamId }}/{{ teamRosterPlayer.personId }}">
                    <div class="playerLink">
                      {{ teamRosterPlayer.firstName }} {{ teamRosterPlayer.lastName }}
                    </div>
                  </a>
                </td>
                <td>{{ teamRosterPlayer.jersey }}</td>
                <td>{{ teamRosterPlayer.pos }}</td>
                <td>{{ teamRosterPlayer.heightMeters }}</td>
                <td>{{ teamRosterPlayer.weightPounds }}</td>
                <td>{{ teamRosterPlayer.weightKilograms }}</td>
                <td>{{ teamRosterPlayer.dateOfBirthUTC }}</td>
                <td>{{ teamRosterPlayer.nbaDebutYear }}</td>
                <td>{{ teamRosterPlayer.yearsPro }}</td>
                <td>{{ teamRosterPlayer.lastAffiliation }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>