.primary {
    background: rgba(17, 14, 14, 0.411);
    width: 100%;
    border-radius: 2px;
}

.title {
    font-size: 1.5em;
    flex: 1;
    color: #fff;
    padding-left: 1em;
    text-decoration: none;
}

.mat-icon-button {
    color: #fff;
}