<div>
  <mat-toolbar class="primary">
          <span class="title">
            <strong>NBA INSIDE</strong>
          </span>
        <a routerLink="" class="link">
            <span class="steam">
              NBA Teams
            </span>
          </a>
          <a routerLink="players" class="link">
              <span class="steam">
                NBA Players
              </span>
            </a>
      </mat-toolbar>
</div>

<router-outlet></router-outlet>
