@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background-image: url('/assets/images/goodwp.com_23109.jpg');
    height: 100%; 
    background-position: center;
    background-size: cover;
}