<ng-container>
  <div class="main">
    <mat-card>
      <mat-card-title>
        <h2 class="title">
          EAST CONFERENCE
        </h2>
      </mat-card-title>
      <mat-card-content>
        <span *ngFor="let team of eastTeams">
          <a href="teamdetails/{{ team.teamId }}">
            <p (click)="goToTeamDetail(team.teamId)">{{ team.name }}</p>
          </a>
        </span>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <div class="main">
      <mat-card>
        <mat-card-title>
          <h2 class="title">
            WEST CONFERENCE
          </h2>
        </mat-card-title>
        <mat-card-content>
          <span *ngFor="let team of westTeams">
            <a href="teamdetails/{{ team.teamId }}">
              <p (click)="goToTeamDetail(team.teamId)">{{ team.name }}</p>
            </a>
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-container>