.main {
    margin-top: 1em;
}

mat-card {
    color: #FDFEFE;
    margin-top: 0;
    overflow-y: auto;
    background: rgba(17, 14, 14, 0.342);
}

mat-tab {
    margin: 1em;
    color: #FDFEFE;
}

::ng-deep .mat-tab-label, .mat-tab-link {
    color: #FDFEFE;
}

mat-tab-nav {
    color: #FDFEFE;
}

.title {
    color: #FDFEFE;
    text-align: center;
    margin: 0;
}

a {
    color: #FDFEFE;
    text-decoration: none;
    width: 100%;
}

.logo {
    width: 90px;
    height: 90px;
    margin-left: 5em;
    margin-top: 1.3em;
    transition: transform .3s;
    display: inline-flex;
    cursor: pointer;
    &:hover {
        transform: scale(1.3);
    }
}

.playercard {
    height: 655px; //Or any other height you wish
    overflow-x: scroll;
}

h1 {
    margin: 0;
    padding-left: .5em;
    text-decoration: underline;
}

mat-list-item {
    &:hover {
        background-color: #c7c1c14b;
    }
    padding-top: 1.5em;
    padding-bottom: 1em;
    padding-left: 0;
    border-bottom: 1px solid #FDFEFE;
}

.matlistitems {
    display: inline-flex;
}

.playerimage {
    height: 85px;
    width: 110px;
}

.matline {
    margin-top: 1.1em;
    margin-left: 1em;
}

::ng-deep .mat-form-field-infix {
    border: 0;
    margin-top: .2em;
}

::ng-deep .mat-form-field-underline {
    height: 2px !important;
}

.searchplayer {
    display: inline-flex;
}

.example-full-width {
    position: absolute;
    right: 40px;
}

.playerscontent {
    font-size: 25px;
}
